body {
  margin: 0 auto;
  max-width: 1440px;
  text-align: center;
}

.quotation {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  align-items: center;
  line-height: 2.5;
  color: black;
  background-color: rgb(176, 196, 222);
  border-top: 1rem solid black;
}

.quotation img {
  width: 30%;
  height: 30%;
}

.quotation a {
  color: black;
}

.quotation a:hover {
  color: white;
}

/* Footer */
footer {
  text-align: center;
}

.footer-top-content-wrapper {
  background: #131313;
}

.top-footer {
  margin: 0 auto;
  max-width: 1192px;
  padding: 2rem 0;
}

.footer-links {
  margin: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.footer-links li {
  padding: 0.3rem;
  font-size: 0.8rem;
}

.footer-links a {
  text-decoration: none;
  color: grey;
}

.footer-links a:hover {
  color: white;
}

.footer-social:nth-child(1) a {
  margin-right: 10px;
  color: white;
  border-radius: 50%;
  padding: 0.6em;
  background-color: #555;
}

.bottom-footer {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  background: #000;
  font-size: 13px;
  color: grey;
  height: 4rem;
  align-items: center;
  justify-content: center;
}
